//Define Brand Colors
$black: #000;
$white: #fff;
$red: #FF5740;
$blue: #29A3FF;
$body-color: #333;

// Branding Colours
$brand1: #63962F;
$brand2: #4C7329;

// Define Brand Fonts
$body-font: 'Open Sans', sans-serif;
$header-font: "Open Sans",serif;

//Define  Mixins required
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin media($breakpoint) {
  @media only screen and (min-width: $breakpoint + px) { @content; }
}