		<footer class="globalFooter">
			<div class="copyrightInfo">
				<img src="assets/images/joint-logos.png" alt="Pivot and Morneau Shepell">
				<p>&copy; 2018 Morneau Shepell. All rights reserved.</p>
			</div>
			
			<a href="#" class="backToTop">Back to the Top</a>
		</footer>


        <script src="assets/js/main.js"></script>
    </body>
</html>