.aboutMorneau {
	background: #fff;
	.morneauDescriptor {
		padding: 50px;
		
		h2 {
			color: #3C3D41;	
			font-size: 32px;	
			font-size: 3.8vmax;
			letter-spacing: -1px;	
			line-height: 43px;
			padding: 0;
			margin: 0;
		}
		
		p {
			color: #646464;
			font-size: 18px;	
			font-size: 1.8vmax;
			line-height: 27px;
		}
	}
}