.features {
	position: relative;
	background: #F9F9F9;
	padding: 25px;
	color: $black;
	height: 30vh;
	border-bottom: 1px solid $black;
	
	h1 {
		margin:  0;
		padding:  0;
		color: #3B3D40; 
		font-size: 11px;	
		letter-spacing: 2px;	
		line-height: 15px;	
		text-align: center;
		font-weight: 300;
	}
	
	
	
	.feature {
		display: none;

		&.active {
			display: grid;
			grid-template-rows: 130px auto;
			grid-gap: 100px;
			align-items: center;
		}
	}
	
	.timeline {
		position: absolute;
		top:  50px;
		left:  0;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		width:  100%;
		margin:  25px 0;
		
		&:after {
			display: block;
			position: absolute;
			width:  100%;
			height:  2px;
			background: #DDDDDD;
			bottom: 0;
			content: " ";
			z-index: 1;
		}
		
		.item {
			position: relative;
			z-index:  99;
			display: grid;
			grid-template-row: 50px 1fr;
			justify-items: center;
			align-items: center;
			
			svg {
				background: #fff;
				
				path {
					fill: #DDD;
				}
			}
			
			
			p {
				font-size:  12px;
				color: #AAAAAA;
			}
			
			&.active {
				p {
					color: $brand1;
				}
				
				svg {
					path {
						fill: $brand1;
					}
				}
			}
		}
		
	}
	
	.feature-title {
		font-size:  4.5vmax;
		font-size: 52px;
		letter-spacing: -2px;	
		line-height: 45px;	
		text-align: center;
		color: #3C3D41;
		font-weight: normal;
		align-self: center;
	}
	
	.feature-desc {
		padding-top: 30px;
		margin-bottom: 30px;
	}
	
	.feature-desc p {
		color: #646464;
		font-size: 18px;	
		font-size: 1.8vmax;
		line-height: 27px;
	}
}

@media screen and (min-width: 850px) {

	.features{
		height: auto; 
		padding-top: 40px;

		.timeline {
			top: 170px;
		}

		.listedFeatures {

			.feature-1{
				display: flex !important;
				flex-direction: column;
			}

			.feature-desc{
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;

				p {
					width: 40%;
					margin-top: 100px;
					font-size: 18px;
					line-height: 27px;
				}
			}
		}


	}
}