@import 'includes/config';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: $body-font;
  font-size: 62.5%;
  padding: 0;
  margin:  0;
  background: radial-gradient(circle, #646464 0%, #333333 100%);
  color: $white;
}

h1 {
  font-family:$header-font;
  @include font-size(2.5);
}

p, li {
  @include font-size; // Sets the rem equvilant to 16px
  color: $body-color;
}

a {
  color: $blue;
  transition: all 0.2s ease-in-out;
  text-decoration: underline;

  &:hover {
    color:lighten($blue, 20%);
  }
}

img {
  max-width: 100%;
}